@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Limelight&display=swap');

:root{
    --cor-um: #000;
    --cor-dois: #f6f6f6;
    --cor-tres: #3981e6;
    --cor-quatro: aqua;
    --cor-hover: #272727;

    --fonte-primaria: "DM Serif Text", serif;
    --fonte-secundaria: "Limelight", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
.apresentacao{ 
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao__conteudo_texto{
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-tres);
    border-radius: 8px;
    font-size: 1.5rem;
    padding : 21.5px 0;
    text-decoration: none;
    color: var(--cor-dois);
    font-family: var(--fonte-primaria);
    font-weight: 600;
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}
body {
    box-sizing: border-box;
    background-color: var(--cor-um);
    color: var(--cor-dois);
}

.cabecalho{
        padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-quatro);
}

h1{
    font-weight: bold;
    color: var(--cor-tres);
}
.titulo-destaque{
    color: var(--cor-quatro);
}
p{
    color: var(--cor-dois);
}

.apresentacao_imagem{
width: 50%;
}

.rodape p{
    padding: 24px;
    color: var(--cor-um);
    background-color: var(--cor-quatro);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}